<a href="https://colab.research.google.com/github/right-stack/Tabnet-Paper-ammi/blob/main/Tabnet_Paper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import torch
import pandas as pd
import matplotlib as plt

In [4]:
# url_adult = 'https://drive.google.com/file/d/1QcSUdHy8toIO6Sw3x-1REF_oVTd3UgoF/view?usp=sharing'
dfs = pd.read_csv("adult.data", )
dfs.iloc[0][""]

       39          State-gov   77516  ...  40   United-States   <=50K
0      50   Self-emp-not-inc   83311  ...  13   United-States   <=50K
1      38            Private  215646  ...  40   United-States   <=50K
2      53            Private  234721  ...  40   United-States   <=50K
3      28            Private  338409  ...  40            Cuba   <=50K
4      37            Private  284582  ...  40   United-States   <=50K
...    ..                ...     ...  ...  ..             ...     ...
32555  27            Private  257302  ...  38   United-States   <=50K
32556  40            Private  154374  ...  40   United-States    >50K
32557  58            Private  151910  ...  40   United-States   <=50K
32558  22            Private  201490  ...  20   United-States   <=50K
32559  52       Self-emp-inc  287927  ...  40   United-States    >50K

[32560 rows x 15 columns]

In [14]:
cols = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'earn']
dfs.columns = cols

In [15]:
dfs.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country    earn
0   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
1   38            Private  215646  ...             40   United-States   <=50K
2   53            Private  234721  ...             40   United-States   <=50K
3   28            Private  338409  ...             40            Cuba   <=50K
4   37            Private  284582  ...             40   United-States   <=50K

[5 rows x 15 columns]

In [16]:
dfs.describe()

                age        fnlwgt  ...  capital-loss  hours-per-week
count  32560.000000  3.256000e+04  ...  32560.000000    32560.000000
mean      38.581634  1.897818e+05  ...     87.306511       40.437469
std       13.640642  1.055498e+05  ...    402.966116       12.347618
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.178315e+05  ...      0.000000       40.000000
50%       37.000000  1.783630e+05  ...      0.000000       40.000000
75%       48.000000  2.370545e+05  ...      0.000000       45.000000
max       90.000000  1.484705e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

In [17]:
dfs['earn'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [21]:
dfs.shape

(32560, 15)

In [23]:
dfs['earn'][0]

' <=50K'

In [37]:
X = dfs[['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']]

y = dfs['earn']

In [38]:
X.head()

   age          workclass  fnlwgt  ... capital-loss  hours-per-week  native-country
0   50   Self-emp-not-inc   83311  ...            0              13   United-States
1   38            Private  215646  ...            0              40   United-States
2   53            Private  234721  ...            0              40   United-States
3   28            Private  338409  ...            0              40            Cuba
4   37            Private  284582  ...            0              40   United-States

[5 rows x 14 columns]

In [39]:
y.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: earn, dtype: object

In [32]:
y.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: earn, dtype: object

In [ ]:

# convert categorical features to variables 0, 1, 2 etc. 

from sklearn import preprocessing
le_sex = preprocessing.LabelEncoder()
le_sex.fit([' <=50K',' >50K'])
X[:,1] = le_sex.transform(X[:,1]) 


le_BP = preprocessing.LabelEncoder()
le_BP.fit([ 'LOW', 'NORMAL', 'HIGH'])
X[:,2] = le_BP.transform(X[:,2])


le_Chol = preprocessing.LabelEncoder()
le_Chol.fit([ 'NORMAL', 'HIGH'])
X[:,3] = le_Chol.transform(X[:,3]) 

X[0:5]